
    body {
     margin: 0xp;
     padding: 0xp;
     background-color: #fbfbfb
     
   }

   img {
       width: 60%;
       height: 70vh;
       object-fit: cover;

   }

   .top-header {
       display: flex;

   }

   .patreon {
       width: 40%;
       margin-top: 200px;
       text-align: center;
   }
   
   .fullCard {
       width: 840px;
       border: 0.1rem solid #ccc;
       border-radius:5px;
       margin: 15rem 10rem 20rem 14.5rem;
       padding: 1.5rem;
       
   }
   
   .cardContent {
       padding:1rem;
       align-content: center;
   }

    
   h1 {
   font-family: 'Roboto Slab'; 
   color: #100505;   
   font-size: 2em;
   
   }
   
   h2 {
       font-family: 'Indie Flower';
       color: #000000;
       font-size: 1.0rem;
       margin-left: 20%;
       text-align: center;
   }
   
   .smaller-image {
       width: 200px;
       border-radius: 50%;
   }
   
   .medium-black-border {
       border-color: #000000;
       border-width: 10xp;
       border-style: solid;
       border-radius: 3rem;
   }
   
   .input-redondinho {
       border-color:crimson; 
       border-width: 5xp;
       border-style: solid;
       border-radius: 3rem;
       text-align: center;
       margin: 0 auto;
       display: block;
   
   }
   
   